@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: Roboto, sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

::-webkit-scrollbar {
  width: 10px;
}
.light-theme::-webkit-scrollbar-track {
  background-color: #eaeaea;
  box-shadow: inset 0 0 2px #9e9e9e; 
} 
.light-theme::-webkit-scrollbar-thumb {
  background-color: var(--hero-btn-color);    
  border-radius: 20px;     
  border: 2px solid #cdcdcd;  
}
.dark-theme::-webkit-scrollbar-track {
  background-color: #3a3a3a;
    box-shadow: inset 0 0 2px #141414; 
}
.dark-theme::-webkit-scrollbar-thumb {
  background-color: var(--hero-btn-color);    
  border-radius: 20px;     
  border: 2px solid #4e4e4e;  
}

.list {
  list-style: none;
}

.no-link {
  text-decoration: none;
  display: block;
}

.visually-hidden, .queue-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  // @media screen and (min-width: 480px) {
  //   width: 320px;
  // }

  @media screen and (min-width: 768px) {
    width: 744px;
  }

  @media screen and (min-width: 1280px) {
    width: 1256px;
  }
}

