:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --bg-color: #ffffff;
  --dark-bg-color: #242424;
  --hero-text-color: #ffffff;
  --hero-current-link-color: #ff001b;
  --hero-bg-color: rgba(0, 0, 0, 0.56);
  --hero-btn-color: #ff6b01;
  --first-color-title-card: #000000;
  --secondary-color-title-card: #ff6b08;
  --bg-rating: #ff6b08;
  --modal-secondary-bg-color: #f7f7f7;
  --modal-secondary-text-color: #8C8C8C;

  --input-hover: #bbbbbb;
}
