:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --bg-color: #ffffff;
  --hero-text-color: #ffffff;
  --first-color-title-card: #000000;
  --secondary-color-title-card: #ff6b08;
  --bg-rating: #ff6b08;
}
