<section class="gallery">
  <div class="container">
    <div class="gallery-home">
      <ul class="gallery-home-list" id="gallery-home-list">
        <!-- верстка -->
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="film-card">
            <img
              src="/src/images/Rectangle 5.jpg"
              loading="lazy"
              class="film-cardimage"
            />
            <div class="card">
              <p class="cardname">GREYHOUND</p>
              <div class="cardtext">
                <p class="cardgenre">Drama, Action</p>
                <p class="cardyear">2020</p>
                <p class="cardrate">10.0</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
