<section class="gallery">
  <div class="container">
    <div id="scrollTop" class="isShowBtn isShowBtn-hidden">
      <i class="fa-solid fa-circle-arrow-up"></i>
    </div>
    <!-- <p class="library-information--saved visually-hidden">
      You haven`t watched any film!
    </p>
    <p class="library-information--queue queue-hidden">
      No films in play queue
    </p> -->
    <div class="gallery-home">
      <ul class="gallery-home-list" id="gallery-home-list">
        <!-- верстка -->
       
      </ul>
    </div>

    <div class="gallery__pagination"></div>
  </div>
</section>

