<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo no-link">
        <img class="logo__icon" src="./images/film-icon.svg" alt="Icon logo" />
        <span class="logo__label">Filmoteka</span>
      </a>
      <ul class="header-nav__list list">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link no-link">Home</a>
        </li>
        <li class="header-nav__item">
          <a
            href="./my-library.html"
            class="header-nav__link header-nav__link--current no-link"
            >My library</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="hero-lib">
  <div class="container">
    <div class="hero-lib-buttons__container">
      <ul class="hero-lib-buttons__list list">
        <li class="hero-lib-buttons__item">
          <button
            type="button"
            name="button"
            class="hero-lib-button"
            data-action="watched"
          >
            watched
          </button>
        </li>
        <li class="hero-buttons__item">
          <button
            type="button"
            name="button"
            class="hero-lib-button"
            data-action="queue"
          >
            queue
          </button>
        </li>
      </ul>
    </div>
    <div class="theme">
      <div class="theme__wrap">
        <input type="checkbox" class="theme__change" id="theme-switch-toggle" />
      </div>
    </div>
  </div>
</section>
