<div class="backdrop backdrop--hidden">
  <div class="card-modal">
    <button type="button" name="button" class="modal-close">
      <!-- <img
        class="modal-close__icon"
        src="./images/close-btn.svg"
        alt="cross"
        width="30"
        height="30"
      /> -->
      <svg class="modal-close__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="card-modal__container">
      <div class="card-modal__img">
        <picture>
          <source
            srcset="
              ./images/card-modal-img/modal-img-1280.jpg    1x,
              ./images/card-modal-img/modal-img-1280-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/card-modal-img/modal-img-768.jpg    1x,
              ./images/card-modal-img/modal-img-768-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/card-modal-img/modal-img-320.jpg    1x,
              ./images/card-modal-img/modal-img-320-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/card-modal-img/modal-img-768.jpg" alt="film" />
        </picture>
      </div>
      <div class="modal-meta">
        <h2 class="modal-heading">A fistful of lead</h2>
        <div class="meta-container">
          <ul class="list feature__list">
            <li class="feature__item">
              <span class="meta__feature">Vote / Votes</span>
            </li>
            <li class="feature__item">
              <span class="meta__feature">Popularity</span>
            </li>
            <li class="feature__item">
              <span class="meta__feature">Original Title</span>
            </li>
            <li class="feature__item">
              <span class="meta__feature">Genre</span>
            </li>
          </ul>
          <ul class="list value__list">
            <li class="value__item">
              <div>
                <span class="vote-votes active">7.3</span> /
                <span class="vote-votes">1260</span>
              </div>
            </li>
            <li class="value__item">
              <span class="meta__value">100.2</span>
            </li>
            <li class="value__item">
              <span class="meta__value original-title">A fistful of LEAD</span>
            </li>
            <li class="value__item">
              <span class="meta__value">Western</span>
            </li>
          </ul>
        </div>
        <h3 class="modal-meta__title">About</h3>
        <p class="modal-meta__discription">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <ul class="list modal-btn__list">
          <li class="modal-btn__item">
            <button class="modal-btn" name="button" type="button">
              add to Watched
            </button>
          </li>
          <li class="modal-btn__item">
            <button class="modal-btn" name="button" type="button">
              add to queue
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
