// Здесь будут настройки хедеров Home и My-library

// -----------------------MY-LIBRARY-PAGE----------------------
.header {
  position: absolute;

  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__icon {
  display: block;
  width: 24px;
  height: 24px;
}

.logo__label {
  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;

    text-align: center;

    color: var(--hero-text-color);
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__list {
  display: flex;
  margin-left: auto;
}

.header-nav__item {
  &:not(:last-child) {
    @media screen and (min-width: 279px) {
      margin-right: 20px;
    }

    @media screen and (min-width: 319px) {
      margin-right: 40px;
    }
  }
}

.header-nav__link {
  color: var(--hero-text-color);
  font-size: 12px;
  line-height: 1.16;

  text-transform: uppercase;

  & {
    padding-bottom: 3px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--hero-current-link-color);
  }
}

.header-nav__link--current {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;

    background-color: var(--hero-current-link-color);
  }
}

// ---------------------HERO-MY-LIBRARY-PAGE----------
.hero-lib {
  position: relative;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/my-library-bg/my-library-img-320.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/my-library-bg/my-library-img-320-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/my-library-bg/my-library-img-768.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/my-library-bg/my-library-img-768-2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/my-library-bg/my-library-img-1280.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/my-library-bg/my-library-img-1280-2x.png);
    }
  }
}

.hero-lib-buttons__container {
  position: relative;
  width: 100%;
  height: 230px;
  padding-top: 124px;

  @media screen and (min-width: 767px) {
    height: 220px;
  }

  background-color: var(--hero-bg-color);
}

.hero-lib-buttons__list {
  display: flex;
  justify-content: center;
}

.hero-lib-button {
  min-width: 100px;
  min-height: 35px;

  background: transparent;
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  color: var(--hero-text-color);
  font-size: 12px;
  line-height: 1.16;

  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 319px) {
    width: 130px;
    height: 44px;
  }
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--hero-btn-color);
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border: none;
  }
}

.hero-lib-buttons__item:not(:last-child) {
  margin-right: 20px;
}
