.gallery__pagination {
  display: flex;

  margin-top: 40px;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}

.pagination-btns {
  display: flex;

  list-style: none;
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.gallery__pagination {
  list-style: none;
  justify-content: center;
}

.pagination-btns__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #f7f7f7;

  border-radius: 5px;
  border: none;

  cursor: pointer;
}

.btn-pag-previ {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f7f7f7;
}

.btn-pag-next {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f7f7f7;
}

.btn-pag-next {
  transform: rotate(180deg);
}

.btn__static {
  &:hover,
  &:focus {
    border: 1px solid var(--hero-btn-color);
    // color: var(--hero-btn-color);
    box-shadow: 0 0 2px var(--hero-btn-color);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1),
      color 200ms cubic-bezier(0.4, 0, 0.2, 1),
      border 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.btn-pag--current {
  background-color: var(--bg-rating);
  color: white;
  box-shadow: 0 0 3px var(--hero-btn-color);
}

.first__btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover,
  &:focus {
    border: 1px solid var(--hero-btn-color);
    box-shadow: 0 0 2px var(--hero-btn-color);
    transition: border 200ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.dots__btn {
  cursor: auto;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.last__btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover,
  &:focus {
    border: 1px solid var(--hero-btn-color);
    // color: var(--hero-btn-color);
    box-shadow: 0 0 2px var(--hero-btn-color);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1),
      color 200ms cubic-bezier(0.4, 0, 0.2, 1),
      border 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.btn-pag-previ,
.btn-pag-next {
  &:hover,
  &:focus {
    background-color: var(--hero-btn-color);
    box-shadow: 0 0 3px var(--hero-btn-color);
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
