.preloader {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  z-index: 7;
}

.preloader-center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.preloader-ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);

    box-shadow: 1px 5px 2px #e65c00;
  }
  100% {
    transform: rotate(360deg);

    box-shadow: 1px 5px 2px #e65c00;
  }
}

.preloader-ring:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.preloader-text {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  50% {
    color: rgba(0, 0, 0, 0.1);
  }
}

#preloader.hide-preloader {
  animation: hide-preloader 1s;
}

#preloader.preloader-hidden {
  display: none;
}

@keyframes hide-preloader {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
} ;
